
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/SignalRdemo.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>
<body>

    <div class="ProductWindow">
        <div id="ConnectionStatus"></div>
        <div class="ProductAisle">
            <div class="Product" id="product1" data-id="1">
                <label>USB Cable</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product2" data-id="2">
                <label>HDMI Cable</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product3" data-id="3">
                <label>21" Monitor</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product4" data-id="4">
                <label>HP Laptop</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product5" data-id="5">
                <label>Computer Mouse</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product6" data-id="6">
                <label>Wireless Keyboard</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product7" data-id="7">
                <label>1TB Hard Drive</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product8" data-id="8">
                <label>Wireless Router</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product9" data-id="9">
                <label>Internet Modem</label>
                <div class="buybutton">Buy</div>
            </div>
            <div class="Product" id="product10" data-id="10">
                <label>Network Cable</label>
                <div class="buybutton">Buy</div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $('.buybutton').click(function () {
        var pid = $(this).parent().attr('data-id');
        BuyIt(pid);
    });

    function BuyIt(productid) {
        $.ajax({
            url: '/Customer/BuyProduct',
            data: { productid: productid },
            cache:false,
            success: function (data) {

            }
        });
    }
</script>
